html{
    scroll-behavior: smooth;
}

a{
    color: #333333;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Agency FB;
}

body{
    background-image: url();
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: auto;
    border: auto;
}

header{
    width: 100%;
    padding: 1.5%;
}

.logo{
    text-align: center;
    color: #ffffff92;
    display: block;
    justify-content: space-around;
    font-size: 2.5em;
    font-weight: 100;
}

h1{
    font-family: Agency FB;
    text-align: center;
    flex-flow: row wrap;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2{
    color: #007497;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

section{
    padding-left: 2%;
    padding-right: 2%;
}

.terraria{
    width: 50%;
    text-align: center;
}

p{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Agency FB;
    font-size: 1.3em;
    margin: auto;
}

li{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav{
    text-align: center;
    color: #ffffff92;
    font-size: 2.0em;
}

footer{
    width: 100%;
    text-align: center;
}

.banner{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.abertura{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.npcontainer{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.ladodir{
    float: left;
    padding-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 4%;
}

.imgmeio{
    width: 5%;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
}

@media {max-width: 600px} {
    .linha{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
}