html{
    scroll-behavior: smooth;
}
 
a{
    color: #333333;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Agency FB;
}

body{
    background-image: url();
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: auto;
    border: auto;
}

header{
    width: 100%;
}

.logo{
    text-align: center;
    color: #ffffff92;
    display: block;
    justify-content: space-around;
    font-size: 2.5em;
    font-weight: 100;
}

.Title{
    position: fixed;
    background-color: #421e00;
    border-radius: 15px;
    width: 91%;
    z-index: 1030;
    top: 2%;
    right: 1%;
    left: 1%;
    align-items: center;
}

.tabletitle{
    font-family: Charlemagne Std;
    font-size: 3em;
    font-weight: 100;
    text-align: left;
    flex-flow: row wrap;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    color: rgb(92, 49, 0);
}

h1{
    font-family: Agency FB;
    text-align: center;
    flex-flow: row wrap;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2{
    color: #007497;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

section{
    padding-left: 2%;
    padding-right: 2%;
}

.terraria{
    width: 45%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
    position: relative;
}

p{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Agency FB;
    font-size: 1.3em;
    margin: auto;
}

table{
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 5px solid;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-color: #696969; 
    box-shadow: 3px 3px 6px rgb(92, 49, 0);
}

th{
    border: 2.5px solid;
    height: 80px;
    text-align: center;
    width: 2.5%;
}

td{
    border: 2.5px solid;
    height: 80px;
    text-align: left;
    display: table-cell;
    vertical-align: inherit;
    --border-raidus: 3px;
    background: var(--theme-background);
    border: 1px solid var(--theme-box-border-color);
    margin: 0;
    padding: 3px;
    border-spacing: 0;
    border-radius: var(--border-raidus);
}

.trhead{
    font-family: Cascadia Code Light;
    font-size: 1.15em;
}

li{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Agency FB;
    font-size: 1.3em;
}

nav{
    text-align: center;
    color: #ffffff92;
    font-size: 2.0em;
}

footer{
    width: 100%;
    text-align: center;
    background-color: rgb(76, 0, 104);
}

.capa{
    width: 32%;
    height: 21%;
    border-style: double;
    border-color: #4b1e00;
    border-width: 5px;
    align-items: center;
    box-shadow: 6px 6px 9px rgb(88, 0, 115);
}

.inicio{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 2.5%;
    font-family: Agency FB;
    font-size: 1.3em;
    margin: auto;
}

.social{
    width: 5%;
    height: 5%;
} 

.banner{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.npcontainer{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.ladodir{
    float: left;
    padding-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 4%;
}

.imgmeio{
    width: 25%;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 2%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
}

.boxcard{
    text-shadow: 2px 2px 5px rgb(94, 53, 0);
    border-style: double;
    border-color: #696969;
    border-width: 9px;
    box-shadow: 3px 3px 6px rgb(88, 0, 115);
}

.float{
    float: right;
    width: 21%;
    height: 21%;
    border-style: double;
    border-color: #4b1e00;
    border-width: 5px;
    margin-left: 2.5%;
}

<!--Menu-->
.button{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
}

.itens_menu{
    position: fixed;
    top: 100px;
    z-index: 1030;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    align-items: center;
    left: 2%;
    right: 50%;
}
  
.itens_menu a{
    font-size: 0.5em;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    align-items: center;
}
  
.itens_menu a:link, .itens_menu a:visited{ 
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to bottom, black, rgb(94, 53, 0));
    border-radius: 9px;
}  

/* mouse por cima do link */
.itens_menu a:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgb(94, 53, 0), black);    
    color: #fff;
    border-radius: 9px;
    padding: 0.8%;
    display: inline-block;
}
    
/* link selecionado */
.itens_menu a:active {
    color: #FFF;
    text-decoration: none;
}

.bug{
    position: fixed;
    right: 2%;
    top: 18%
}

@media (min-width: 601px){

}

@media (max-width: 600px) {
    .linha{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    .button{
        display: flow-root;
    }
    .button:hover{
        background-image: linear-gradient(to bottom, rgb(94, 53, 0), black);
    }
}