body{
    background-image: url();
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    color: rgb(1, 1, 63);
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: fantasy;
    font-size: 280%;
    font-weight: 64;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    color: #2b0042;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    font-weight: 50;
}

h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

p{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

header{
    width: 100%;
    padding: 2.5%;
}

.logo{
    text-align: center;
    color: #ffffff92;
    display: block;
    justify-content: space-around;
    font-size: 2.5em;
    font-weight: 100;
}

.terraria{
    width: 75%;
    text-align: center;
}

.boss{
    
}

li{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav{
    text-align: center;
    color: #ffffff92;
    font-size: 2.0em;
}

.banner{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item{
    width: 5%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 48%;
    padding-right: 48%;

}

.container3{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.container{
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bb0000, #e97777);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bb0000, #e97777); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.container2{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

.container4{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

footer{
    background-color: rgb(130, 130, 130);
    width: 100%;
}